:root {
    --text_color: #212121;
    --hover_color : #2196F3;
    --hero_color : #2F303A;
    --base_font : roboto;
    --logo_font : raleway
}


nav {
    display: inline-block;
}
.logo{
    display: inline-block;
    margin-left: 30px;
    font-family: var(--logo_font);
}
.contacts{
    display: inline-block;
    margin-left: 100px;
    grid-row-end: auto;
}
nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: var(--text_color);
    font-family: var(--base_font);

}
.contacts a{
    text-decoration: none;
    color: var(--text_color);
    margin-left: 30px;
    font-family: var(--base_font);
}
.title{
    text-align: center;
    line-height: 60px;
    font-size: 44px;
    width: 696px;
    letter-spacing: 6%;
    font-family: var(--base_font);
    
}
.hero{
    background-color: var(--hero_color);
    color: white;
    align-content: center;
    text-align: center;
    width: 1600px;
    height: 600px;
}
.buy_btn{
    background-color: var(--hover_color);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-family: var(--base_font);
    
    
}
.fetures {
    font-family: var(--base_font);
    display: flex;
    justify-items: center;
    text-align: center;
}
.product{
    font-family: var(--base_font);
    text-align: center;
    gap: 25px;
}


.workers{
    display: flex;
    margin-top: 150px;
    font-family: var(--base_font);
    gap: 25px;
}

