:root {
    --text_color: #212121;
    --hover_color: #2196F3;
    --hero_color: #2F303A;
    --footer_text: #ffffff;
    --base_font: roboto;
    --logo_font: raleway
}

header{
    display: flex;
    align-items: center;
}
nav {
    display: inline-block;
}

.logo {
    display: flex;
    margin: 0 ;
    margin-left: 215px;
    font-family: var(--logo_font);
    color: var(--text_color);
    align-items: center;
    width: 200px;
   }

.logo2 {
    color: var(--hover_color);
    display: flex; 
}

.contacts {
    display: flexbox;
    margin-left: 340px;
    grid-row-end: auto;
    width: 400px;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text_color);
    font-family: var(--base_font);
}
 nav li :hover{
    color: var(--hover_color);
}

.contacts a {
    text-decoration: none;
    color: var(--text_color);
    margin-left: 30px;
    font-family: var(--base_font);
}

.title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 60px;
    font-size: 44px;
    width: 696px;
    letter-spacing: 6%;
    font-family: var(--base_font);

}

.hero {
    flex-direction: column;
    background-color: var(--hero_color);
    color: white;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
}

.buy_btn {
    background-color: var(--hover_color);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-family: var(--base_font);
    color: var(--footer_text);


}

.fetures {
    font-family: var(--base_font);
    display: flex;
    justify-items: center;
    text-align: center;
    margin-bottom: 95px;
}

.product {
    font-family: var(--base_font);
    text-align: center;
    gap: 25px;
}

.team{
    align-self: center;
    justify-content: center ;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.group {
    display: flex;
    
    font-family: var(--base_font);
    gap: 25px;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--hero_color);
    padding-left: 215px;
    margin-top: 94px;

}

.footer_logo {
    display: flex;
    margin: 0 auto;
    margin-left: 30px;
    font-family: var(--logo_font);
    color: var(--footer_text);
    align-items: center;
}

.footer_contacts {
    list-style: none;

}

.footer_contacts li {
    margin-bottom: 10px;
}

.footer_a {
    color: var(--footer_text);
    text-decoration: none;
    margin-bottom: 15px;

}
.transperent{
    opacity: 0.5;
}